name: integration test

# NOTE: Restricting branches prevents jobs from being doubled since
# a push to a pull request triggers two events.
on:
  pull_request:
    branches:
      - "*"
  push:
    branches:
      - master

jobs:
  test-on-linux:
    name: ${{ matrix.gssapi }} gssapi / Py${{ matrix.python-version }} @ ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        # note: always use the -latest OS variants b/c if conditions
        # match them as literals
        os: [ubuntu-latest]
        python-version: [3.11]
        gssapi: [with, without]

    steps:

    - name: Check out code
      uses: actions/checkout@v5

    - name: Verify curl with Kerberos
      if: matrix.gssapi == 'with'
      run: |
        make verify-curl-with-kerberos

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python dependencies on Linux
      if: matrix.os == 'ubuntu-latest'
      run: |
        pip install -r devel.txt

    - name: Install gssapi on Linux
      if: matrix.os == 'ubuntu-latest' && matrix.gssapi == 'with'
      run: |
        sudo apt-get install libkrb5-dev
        pip install gssapi

    - name: Build & start services
      run: |
        make build-services
        make run-services

        WEB_ADDR=`docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' web_kiwitcms_org`
        sudo sh -c "echo '$WEB_ADDR    web.kiwitcms.org' >> /etc/hosts"

    - name: Install ca.crt from Kiwi TCMS
      run: |
        # regenerate new certificate, valid for the hostname used during testing
        docker exec -i web_kiwitcms_org /usr/bin/sscg -v -f \
                                            --hostname "web.kiwitcms.org"  \
                                            --country BG --locality Sofia \
                                            --organization "Kiwi TCMS" \
                                            --organizational-unit "Quality Engineering" \
                                            --ca-file       /Kiwi/static/ca.crt     \
                                            --cert-file     /Kiwi/ssl/localhost.crt \
                                            --cert-key-file /Kiwi/ssl/localhost.key

        # restart web service so that it uses the new certificate
        docker-compose -f tests/krb5/docker-compose.yml restart web_kiwitcms_org

        sudo mkdir -p /usr/local/share/ca-certificates/
        sudo curl --insecure https://web.kiwitcms.org:8443/static/ca.crt --output /usr/local/share/ca-certificates/Kiwi_TCMS_CA.crt
        sudo update-ca-certificates --fresh --verbose

        # this isn't actually needed, b/c the CA is in the system trust store
        # export CURL_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
        # export REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
        # export SSL_CERT_FILE=/etc/ssl/certs/ca-certificates.crt
        # export SSL_CERT_DIR=/etc/ssl/certs/

    - name: Install & configure Kerberos client
      if: matrix.os == 'ubuntu-latest' && matrix.gssapi == 'with'
      run: |
        KRB5_ADDR=`docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' krb5_kiwitcms_org`

        sudo apt-get -y install krb5-user
        sudo cp ./tests/krb5/krb5.conf /etc/
        sudo sed -i "s/localhost\./$KRB5_ADDR/" /etc/krb5.conf

        # this directory is missing and krb5.conf wants to include it
        sudo mkdir /etc/krb5.conf.d/

    - name: Obtain valid Kerberos ticket
      if: matrix.os == 'ubuntu-latest' && matrix.gssapi == 'with'
      run: |
        echo changeme | kinit travis@KIWITCMS.ORG
        klist

    - name: Verify web login with Kerberos
      if: matrix.os == 'ubuntu-latest' && matrix.gssapi == 'with'
      run: |
        make verify-web-login
        klist

    - name: Verify tcms-api can communicate via username/password
      run: |
        cat > ~/.tcms.conf << _EOF_
        [tcms]
        url = https://web.kiwitcms.org:8443/xml-rpc/
        username = kiwitcms-bot
        password = changeme
        _EOF_

        make verify-integration
        make verify-credentials-via-python

    - name: Verify tcms-api can communicate over Kerberos
      if: matrix.os == 'ubuntu-latest' && matrix.gssapi == 'with'
      run: |
        cat > ~/.tcms.conf << _EOF_
        [tcms]
        url = https://web.kiwitcms.org:8443/xml-rpc/
        use_kerberos = True
        _EOF_

        make verify-integration

    - name: Collect logs
      if: always()
      run: |
        docker compose -f tests/krb5/docker-compose.yml logs --no-color > /tmp/docker-compose-${{ matrix.gssapi }}-kerberos.log

    - name: Upload logs
      uses: actions/upload-artifact@v5
      if: always()
      with:
        name: logs-${{ matrix.gssapi }}-gssapi
        path: /tmp/*.log
        if-no-files-found: ignore
